*::-webkit-scrollbar { 
    display: none;
}
header, content, footer {
    text-align: center;
}
table {
    table-layout: fixed;
}
.table > :not(:first-child), tbody {
    border-top: 0px solid currentColor !important;
}
th {
    text-align: center;
}
select:focus, input:focus, textarea:focus {
    outline: none;
}
.ex, .plus, .view {
    float: left;
    width: 1.5em;
    height: 1.5em;
    color: #000;
    opacity: .5;
    border: 0;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
}
.ex {
    background: url('img/ex.svg') no-repeat;
}
.plus {
    background: url('img/plus.svg') no-repeat;
}
.view {
    background: url('img/view.svg') no-repeat;
}
tag::before {
    content: '\A'; 
    white-space: pre;
}
.alert {
    margin-bottom: 0px !important;
}
.modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}
.modal-dialog td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}
.simple-keyboard {
    display: none;
    width: 50%;
    margin: auto;
    margin-top: 35px;
}
textarea {
    resize: both;
}