@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"), url(https://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}
header, nav, #content, aside, footer {
    margin: 10px;
    padding: 10px;
}
header, content, footer {
    min-width: 800px;
    text-align: center;
}
table {
    float: left;
    width: auto !important;
}
content div {
    display: flex;
    align-items: center;
    justify-content: center;
}
th {
    text-align: center;
}
.ex, .plus {
    /* box-sizing: content-box; */
    width: 1.5em;
    height: 1.5em;
    color: #000;
    border: 0;
    border-radius: 0.5rem;
    opacity: .5;
    background-repeat: no-repeat;
}
.ex {
    background: url('ex.svg');
}
.plus {
    background: url('plus.svg');
}
.inverted {
    filter: 100%;
    background-color: black;
}
